.light_green_btn{
    display: inline-block;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    height: 40px;
    font-size: 18px;
    border: 1px solid #46D295;
    border-radius: 5px;
    color: #46D295;
    background-color: #FFFFFF;
    cursor: pointer;
}
.light_green_btn:hover{
    color: #FFFFFF;
    background-color: #46D295;
    transition: color 0.3s;
    transition: background-color 0.3s;
    
}