


/*=========================================================================
【1-3-3】応募者管理画面 (applicants_detail.html)
=========================================================================*/
.profile_icon{
    height: 50px;
}

/* .oubo_name{

} */
.oubo_name_kanji{
    font-size: 1.5rem;
    font-weight: bold;
}
.oubo_name_kana{
    font-size: 11px;
}

#modal_edit_name{
    width: 30%;
    height: 300px;
}

#base_info_name{
    cursor: pointer;
}
#base_info_name:hover{
    opacity: 0.8;
}
.oubo_base_info_table{
    width: 100%;
    border-collapse:collapse;

}
.oubo_base_info_table tr,
.oubo_base_info_table tr th,
.oubo_base_info_table tr td{
    border: 1px solid #f0f0f0;
    text-align: left;
}
.oubo_base_info_table tr{
    padding: 0px;
}
.oubo_base_info_table tr th,
.oubo_base_info_table tr td{
    padding: 3px 8px;
}

.oubo_base_info_table tr th{
    color: #707070;
}


.applicants_detail_second-block{
    position: relative;
}

.hansha_check_block{
    width: 30%;
    height: 400px;
    background-color: #FFFFFF;
    border: 5px solid #d92550;
    border-radius: 0.25rem;
}

.hansha_check_block h2{
    color: #d92550;
}

.oubo_status_header{
    height:50px;
    border-bottom: 1px solid #0047a4;
}

.oubo_status_header_text{
    font-size: 20px;
    font-weight: bold;
}

.area_status{
    background-color: #F0F0F0;
}
.area_status_num{
    padding: 10px;
}
.area_status_num_header{
    color: #707070;
}

.contact_history{
    width: 100%;
    height: 550px;
    overflow-y:scroll;
}

.contact_history_table{
    border-collapse:collapse;
}

.contact_history_table tr{
    border-bottom: 1px solid #C6E0F7;
    height: 60px;
}

.tab-panel{
    font-size: 0.8em;
    /* width: 37%; */
}

.tab-group{
    display: flex;
    justify-content: center;
}
.tab{
    flex-grow: 1;
    padding:5px;
    list-style:none;
    border-radius: 0.25rem 0.25rem;
    background:#FFFFFF;
    text-align:center;
    cursor:pointer;
    /* -webkit-filter: drop-shadow(0px 10px 10px rgba(199, 217, 233, 1));
    filter: drop-shadow(0px 0px 10px rgba(199, 217, 233, 1)); */
}
.panel-group{
    height: 600px;
    border-radius: 0.25rem 0.25rem;
    border-top:none;
    background:#FFFFFF;
    padding: 0px 40px 30px 40px;
    /* -webkit-filter: drop-shadow(0px 10px 10px rgba(199, 217, 233, 1));
    filter: drop-shadow(0px 10px 10px rgba(199, 217, 233, 1)); */
}
.panel{
    display:none;

}
.tab.is-active{
    background:#0047A4;
    color: #FFFFFF;
    transition: all 0.2s ease-out;
}
.panel.is-show{
    display:block;
}

.tab-panel_edit{
    font-size: 0.8em;
    /* width: 37%; */
}

.tab-group_edit{
    display: flex;
    justify-content: center;

}
.tab_edit{
    flex-grow: 1;
    padding:5px;
    list-style:none;
    border-radius: 0.25rem 0.25rem;
    background:#FFFFFF;
    text-align:center;
    cursor:pointer;
    border: 1px solid #E0E0E0;
    /* -webkit-filter: drop-shadow(0px 10px 10px rgba(199, 217, 233, 1));
    filter: drop-shadow(0px 0px 10px rgba(199, 217, 233, 1)); */
}
.panel-group_edit{

    border-radius: 0.25rem 0.25rem;
    border-top:none;
    background:#FFFFFF;
    padding: 0px 40px 30px 40px;
    border: 1px solid #E0E0E0;
    height: 600px;
    /* -webkit-filter: drop-shadow(0px 10px 10px rgba(199, 217, 233, 1));
    filter: drop-shadow(0px 10px 10px rgba(199, 217, 233, 1)); */
}
.panel_edit{
    display:none;

}
.tab_edit.is-active_edit{
    background:#0047A4;
    color: #FFFFFF;
    transition: all 0.2s ease-out;
}
.panel_edit.is-show_edit{
    display:block;
}


/* エリア2のタブのstyleここから */
.tab-panel_area_2{
    /* font-size: 0.8em; */
    /* width: 37%; */
}

.tab-group_area_2{
    display: flex;
    justify-content: center;
    width: 100%;
}
.tab_area_2{
    flex-grow: 1;
    padding:5px;
    list-style:none;
    background:#FFFFFF;
    color: #0047A4;
    text-align:center;
    cursor:pointer;
    width: 20%;
    /* -webkit-filter: drop-shadow(0px 10px 10px rgba(199, 217, 233, 1));
    filter: drop-shadow(0px 0px 10px rgba(199, 217, 233, 1)); */
}
.panel-group_area_2{

    border-top:none;
    background:#FFFFFF;

}
.panel_area_2{
    display:none;

}
.tab_area_2.is-active_area_2{
    border-bottom: 4px solid #0047A4;
}
.panel_area_2.is-show_area_2{
    display:block;
}

.tab-panel_area_2{
    /* font-size: 0.8em; */
    /* width: 37%; */
}

.tab-group_edit_area_2{
    display: flex;
    justify-content: center;
    width: 100%;
}
.tab_edit_area_2{
    flex-grow: 1;
    padding:5px;
    list-style:none;
    background:#FFFFFF;
    color: #0047A4;
    text-align:center;
    cursor:pointer;
    width: 20%;
    /* -webkit-filter: drop-shadow(0px 10px 10px rgba(199, 217, 233, 1));
    filter: drop-shadow(0px 0px 10px rgba(199, 217, 233, 1)); */
}
.panel-group_edit_area_2{
    border-top:none;
    background:#FFFFFF;
}
.panel_edit_area_2{
    display:none;
    max-height: 550px;
    overflow-y: scroll;
}
.tab_edit_area_2.is-active_edit_area_2{
    border-bottom: 4px solid #0047A4;
}
.panel_edit_area_2.is-show_edit_area_2{
    display:block;
}

.btn_add_work-experience{
    width: 150px;
    text-align: center;
    line-height: 25px;
    color: #707070;
    background-color: #FFFFFF;
    border: 1px solid #707070;
}
.btn_add_work-experience:hover{
    color: #FFFFFF;
    background-color: #707070;
    border: 1px solid #707070;

}
/* エリア2のタブのstyleここまで */



.area_num{
    overflow-y:scroll;
}
.area_num_table{
    /* height: 480px; */
    overflow-y: scroll;
}
.area_num_table tr:nth-child(odd) td{
    background-color: #F0F0F0;
    padding: 3px 10px;
}
.area_num_table tr:nth-child(even) td{
    background-color: #FCFCFC;
    padding: 3px 10px;
}
.area_num_table tr td{
    vertical-align: top;
}
.list_left{
    color: #707070;
}
.list_right{
    font-weight: bold;
}

.appli-history_table{
    font-size: 0.8rem;
}
.appli-history_table tr td{
    padding: 10px;
}

.appli-history_table tr:nth-child(odd) td{
    background-color: #F0F0F0;
    height: 30px;
}
.appli-history_table tr:nth-child(even) td{
    background-color: #FCFCFC;
    height: 30px;
}
.appli-history_table td:nth-child(1) {
    text-align: center;
    vertical-align: top;
    width: 2%;
}
.appli-history_table td:nth-child(2) {
    text-align: left;
    vertical-align: top;
    width: 6%;
}
.appli-history_table td:nth-child(3) {
    text-align: left;
    vertical-align: top;
    width: 6%;
}
.appli-history_table td:nth-child(4) {
    text-align: left;
    vertical-align: top;
    width: 12%;
}
.appli-history_table td:nth-child(5) {
    text-align: left;
    vertical-align: top;
    width: 7%;
}
.appli-history_table td:nth-child(6) {
    text-align: left;
    vertical-align: top;
    width: 7%;
}
.appli-history_table td:nth-child(7) {
    text-align: left;
    vertical-align: top;
    width: 8%;
}
.appli-history_table td:nth-child(8) {
    text-align: left;
    vertical-align: top;
    width: 6%;
}
.appli-history_table td:nth-child(9) {
    text-align: left;
    vertical-align: top;
    width: 16%;
}
.appli-history_table td:nth-child(10) {
    text-align: center;
    vertical-align: top;
    width: 9%;
}
.appli-history_table td:nth-child(11) {
    text-align: left;
    vertical-align: top;
    width: 17%;
}
.appli-history_table td:nth-child(12) {
    text-align: center;
    vertical-align: top;
    width: 4%;
}


#modal_edit-entry-info,
#modal_send-correction-request{
    width: 50%;
    height: 850px;
}

#modal_show-appli-history{
    width: 80%;
}




.entry_title_btn_block{
    padding: 15px 40px 40px 40px;
    background: #FFFFFF;
}
.content_area{
    padding: 20px 40px;
}

.oubo_link_table {
    max-width: 100%;
    border-collapse: collapse;
}
.oubo_link_table th,
.oubo_link_table td {
    padding: 3px 2px;
    border: 1px solid #cce7ff;
}

.oubo_link_table th {
    background-color: #cce7ff;
}

.oubo_link_table thead {
    text-align: center;
}

.oubo_link_table .oubo_link_table tbody {
    font-size: 1rem;
}

.oubo_link_table th:nth-child(1) {
    width: 4%;
    text-align: center;
}
.oubo_link_table th:nth-child(2) {
    width: 10%;
}
.oubo_link_table th:nth-child(3) {
    width: 10%;
}
.oubo_link_table th:nth-child(4) {
    width: 6%;
}
.oubo_link_table th:nth-child(5) {
    width: 8%;
}
.oubo_link_table th:nth-child(6) {
    width: 5%;
}
.oubo_link_table th:nth-child(7) {
    width: 8%;
}
.oubo_link_table th:nth-child(8) {
    width: 8%;
}
.oubo_link_table th:nth-child(9) {
    width: 19%;
}
.oubo_link_table th:nth-child(10) {
    width: 19%;
}
.oubo_link_table th:nth-child(11) {
    width: 3%;
    text-align: center;
}

.options{
    /* margin-left: 20px; */
}

/*=========================================================================
【1-3-3】候補紐付 (candidates_linked.html)
=========================================================================*/
.candidates_linked_table tr{
    border: 1px solid #f0f0f0;
}
.candidates_linked_table th{
    background-color: #FFFFFF;
    color: #707070;
    border-bottom: 1px solid #0047A4;
}

.candidates_linked_table td{
    /* border: 1px solid #cce7ff; */
    padding: 10px;
}

.candidates_linked_table tr:nth-child(odd) td{
    /* background-color: #F0F0F0; */
    height: 30px;
}
.candidates_linked_table tr:nth-child(even) td{
    /* background-color: #FCFCFC; */
    height: 30px;
}
.candidates_linked_table td:nth-child(1) {
    text-align: center;
    vertical-align: middle;
    width: 2%;
}
.candidates_linked_table td:nth-child(2) {
    text-align: left;
    vertical-align: top;
    width: 8%;
}
.candidates_linked_table td:nth-child(3) {
    text-align: left;
    vertical-align: top;
    width: 12%;
}
.candidates_linked_table td:nth-child(4) {
    text-align: left;
    vertical-align: top;
    width: 10%;
}
.candidates_linked_table td:nth-child(5) {
    text-align: left;
    vertical-align: top;
    width: 8%;
}
.candidates_linked_table td:nth-child(6) {
    text-align: left;
    vertical-align: top;
    width: 14%;
}
.candidates_linked_table td:nth-child(7) {
    text-align: left;
    vertical-align: top;
    width: 12%;
}
.candidates_linked_table td:nth-child(8) {
    text-align: left;
    vertical-align: top;
    width: 24%;
}
.candidates_linked_table td:nth-child(9) {
    text-align: center;
    width: 10%;
}

.candidates_linked_child{
    color: #777777;
}

.candidate_style{
    color: #AAAAAA;
}

.decision_style{
    color: #F70084;
    font-weight: bold;
}

.candidate_table_empty{
    display: inline-block;
    width: 16px;
}

.match{
    background-color: #FFF999
}


/*=========================================================================
【1-3-3】応募登録 (applicants_register.html)
=========================================================================*/
.appli_register_form{
    margin: 20px 40px;
}
.appli_register_form li label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
    margin-bottom: 10px;
}
.appli_register_form_remarks{

    align-items:flex-start !important;
    height: initial !important;

}
.appli_register_form li label p,
.appli_register_form li label input{
    display: inline-block;
}

.radio_adjust{
    margin-top: initial;
    margin-bottom: 3px;
}