


/*=========================================================================
【1-3-3】応募者管理画面 (oubo_detail.html)
=========================================================================*/
.profile_icon{
    height: 50px;
}

/* .oubo_name{

} */
.oubo_name_kanji{
    font-size: 20px;
    font-weight: bold;
}
.oubo_name_kana{
    font-size: 11px;
}

.oubo_status_header{
    height:50px;
}

.oubo_status_header_text{
    font-size: 20px;
    font-weight: bold;
}

.area_status{
    background-color: #F5F5F5;
}
.area_status_num{
    padding: 10px;
}

.contact_history_table{
    border-collapse:collapse;
}

.contact_history_table tr{
    border-bottom: 1px solid #C6E0F7;
    height: 60px;
}

.tab-group{
    display: flex;
    justify-content: center;
}
.tab{
    flex-grow: 1;
    padding:5px;
    list-style:none;
    border-radius: 20px 20px 0px 0px;
    background:#DDDDDD;
    text-align:center;
    cursor:pointer;
    -webkit-filter: drop-shadow(0px 10px 10px rgba(199, 217, 233, 1));
    filter: drop-shadow(0px 0px 10px rgba(199, 217, 233, 1));
}
.panel-group{
    height: 80%;
    border-radius: 0px 0px 20px 20px;
    border-top:none;
    background:#FFFFFF;
    padding: 15px 40px 30px 40px;
    -webkit-filter: drop-shadow(0px 10px 10px rgba(199, 217, 233, 1));
    filter: drop-shadow(0px 10px 10px rgba(199, 217, 233, 1));
}
.panel{
    display:none;
}
.tab.is-active{
    background:#FFFFFF;
    transition: all 0.2s ease-out;
}
.panel.is-show{
    display:block;
}

.area_num_table tr:nth-child(odd) td{
    background-color: #F5F5F5;
    height: 30px;
}
.area_num_table tr td{

}










.oubo_link_table {
    max-width: 100%;
    border-collapse: collapse;
}
.oubo_link_table th,
.oubo_link_table td {
    padding: 3px 2px;
    border: 1px solid #cce7ff;
}

.oubo_link_table th {
    background-color: #cce7ff;
}

.oubo_link_table thead {
    text-align: center;
}

.oubo_link_table .oubo_link_table tbody {
    font-size: 15px;
}

.oubo_link_table th:nth-child(1) {
    width: 4%;
}
.oubo_link_table td:nth-child(1) {
    text-align: center;
}
.oubo_link_table th:nth-child(2) {
    width: 10%;
}
.oubo_link_table th:nth-child(3) {
    width: 10%;
}
.oubo_link_table th:nth-child(4) {
    width: 6%;
}
.oubo_link_table th:nth-child(5) {
    width: 8%;
}
.oubo_link_table th:nth-child(6) {
    width: 5%;
}
.oubo_link_table th:nth-child(7) {
    width: 8%;
}
.oubo_link_table th:nth-child(8) {
    width: 8%;
}
.oubo_link_table th:nth-child(9) {
    width: 19%;
}
.oubo_link_table th:nth-child(10) {
    width: 19%;
}
.oubo_link_table th:nth-child(11) {
    width: 3%;
}
td:nth-child(11) {
    text-align: center;
}
