html{
    color: #0047a4;
    font-size:18px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

body {
    background-color: #f1f6fb;
    width: 100%;
}

.wrapper{
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
main{
    padding: 2%;
    flex: 1;
}
/* オーバーレイ */
.overlay {
    /* 位置を固定 */
    position: fixed;
    top: 0;
    left: 0;
    /* 画面いっぱいに広がるようにする */
    width: 100%;
    height: 100vh;
    /* rgbaを使って60%の黒いオーバーレイにする */
    background: rgba(0, 0, 0, 0.6);  
    /* デフォルトでは見えないようにする */
    opacity: 0;
    visibility: hidden;
    /* 表示する際の変化の所要時間 */
    transition: .3s;
    z-index: 10;
}
/* activeクラスのついたオーバーレイ */
.overlay.active {
    /* activeクラスがついたときにオーバーレイを表示する */
    opacity: 1;
    visibility: visible;
}
/* モーダルウィンドウ */
.modal_window {
    font-size: 1rem;
    position: fixed;
    z-index: 11;
    max-width: 80%;
    width: 75%;
    border-radius: 0.25rem;
    padding: 15px 20px;
    background: #fff;
    /* 位置の調整(真ん中に表示) */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* デフォルトでは非表示にしておく */
    opacity: 0;
    visibility: hidden;
    /* 表示の変化にかかる時間 */
    transition: .3s;
    
}

  /* activeクラスのついたモーダルウィンドウ */
.modal_window.active {
    opacity: 1;
    visibility: visible;
}
.modal_window .close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}
/* モーダルウィンドウ */
.modal {
    position: fixed;
    z-index: 11;
    max-width: 80%;
    width: 75%;
    border-radius: 0.25rem;
    padding: 15px 20px;
    background: #fff;
    /* 位置の調整(真ん中に表示) */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* デフォルトでは非表示にしておく */
    opacity: 0;
    visibility: hidden;
    /* 表示の変化にかかる時間 */
    transition: .3s;
    
}

  /* activeクラスのついたモーダルウィンドウ */
.modal.active {
    opacity: 1;
    visibility: visible;
}
.modal.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}


.content_index {
    width: 150px;
    height: 30px;
    background-color: #c6e0f7;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
}

.content_index p {
    font-size: 20px;
    font-weight: bold;
}

.my-parts {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}
.my-parts span::before,
.my-parts span::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 16%;
    margin: -8% 0 0 -42%;
    background: #999999;
}
.my-parts span::before {
    transform: rotate(-45deg);
}
.my-parts span::after {
    transform: rotate(45deg);
}




.content_block {
    background-color: #ffffff;
    font-size: 0.8em;
    padding: 15px 40px 30px 40px;
    border-radius: 0.25rem;
    /* -webkit-filter: drop-shadow(0px 10px 10px rgba(199, 217, 233, 1));
    filter: drop-shadow(0px 0px 10px rgba(199, 217, 233, 1)); */
}

header {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #c6e0f7;
    /* -webkit-filter: drop-shadow(0px 10px 10px rgba(199, 217, 233, 1));
    filter: drop-shadow(0px 0px 10px rgba(199, 217, 233, 1)); */
}
/* 
hamburger(ハンバーガーアイコン)
=================================== */
.humberger {
    display: block;
    height: 55px;
    margin-left: auto;
    position: relative;
    z-index: 100;
    width: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.humberger.-active .humberger__line {
    background-color: transparent;
}
.humberger.-active .humberger__line::before {
    top: 0;
    transform: rotate(45deg);
}
.humberger.-active .humberger__line::after {
    top: 0;
    transform: rotate(-45deg);
}
.humberger.-active .humberger__text::before {
  content: '閉じる';
}
.humberger__line {
    display: block;
    height: 4px;
    position: absolute;
    border-radius: 2px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    background-color: #0047a4;
    transition: 0.4s;
}
.humberger__line:before,
.humberger__line:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 2px;
    background-color: #0047a4;
    transition: inherit;
}
.humberger__line:before {
    top: -10px;
}
.humberger__line:after {
    top: 10px;
}
.humberger__text {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.humberger__text::before {
    content: "MENU";
    text-align: center;
    color: #0047a4;
    font-size: 10px;
}

.header__nav-area {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 9;
    height: 100vh;
    width: 15%;
    visibility: hidden;
    padding-top: 60px;
    background-color: #78BAF3;
    transition: 0.4s;
}
.header__nav-area.-active {
    left: 0;
    visibility: visible;
}

.global-navigation__list > li {
    /* padding-bottom: 20px; */
    height: 50px;
    
}
.global-navigation__list > li {
    width: 100%;
    height: 100%;
}
.nav-item{
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    align-items: center;
    padding-left: 30px;
}
.nav-item:hover{
    background-color: #31A0FF;
}
/* .nav-item_child{

} */

/* .global-navigation__list > li + li {
    margin-top: 20px;
} */
.global-navigation__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    transition: color 0.4s;
    font-size: 0.875rem;
    text-align: initial;
}
/* .global-navigation__link:hover{
    background-color: #31A0FF;
} */
.global-navigation__link.-accordion {
    position: relative;
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0;
}
.global-navigation__link.-accordion::after {
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 15px;
    width: 2px;
    background-color: blue;
    transform: translateY(-50%);
    transition: transform 0.4s;
}
.global-navigation__link.-accordion::before {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 10px;
    width: 12px;
    background-color: blue;
    transform: translateY(-50%);
    
}
.global-navigation__link.-active::after {
    transform: translateY(-50%) rotate(-90deg);
}
.accordion {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.4s;
}
.accordion.-active {
    height: auto;
    padding-top: 10px;
    visibility: visible;
}
/* .accordion__list{

} */
.accordion__list li {
    font-size: 0.75rem;
}
/* .accordion__list li + li {
    margin-top: 21px;
} */
.accordion__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}

.header_dot{
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-right: 7px;
}

.header_title {
    font-size: 1.5rem;
    line-height: 3rem;
}

.content_block_title{
    display: inline-block;
    height: 30px;
    background-color: #c6e0f7;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
}
.entry-area_title-edit{
    padding: 15px 40px 0px 40px;
}

footer {
    background-color: #c6e0f7;
    height: 56px;
    /* -webkit-filter: drop-shadow(0px 10px 10px rgba(199, 217, 233, 1));
    filter: drop-shadow(0px 0px 10px rgba(199, 217, 233, 1)); */

    text-align: center;
    font-size: 12px;
}

/* モザイク */
.mosaic{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    backdrop-filter: blur(10px);
}